@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --facebook-color: #1a6de8;
  --X-twitter-color: #1b1c1e;
  --instagram-colour: #c13584;
  --linkedin-colour: #0077b5;
  --youtube-color: #ff0000;
  --github-color: #24292e;
  --pure-white: #fff;
}

header {
  background: rgb(240, 240, 240);
  --pure-white: #fff;

  border-bottom: 1px solid var(--pure-white);
  box-shadow: 5px 10px 20px rgba(150, 150, 150);
}

nav {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 10px 1%;
}

.nav__links {
  display: flex;
  list-style: none;
}

.nav__link {
  margin: 10px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;

  color: var(--linkedin-colour);
  transition: transform 0.3s ease-in;
  transition-duration: 0.5s;
}

.nav__link:hover {
  font-size: 20px;
}

.login__button {
  padding: 10px;
  background: var(--linkedin-colour);
  color: var(--pure-white);
  border-radius: 200px;
  /* padding-down: 10px; */
  width: 100px;
  height: 50px;
  text-align: center;
  border: var(--pure-white);
  box-shadow: 5px 10px 20px rgba(150, 150, 150);
}
img {
  width: 300px;
}

#section--1 {
  height: 100vh;
  padding-top: 20vh;
  padding-left: 10px;
  margin: 10px;
  position: relative;

  display: flex;
  background-image: linear-gradient(
    to bottom right,
    var(--linkedin-colour) 50%,
    var(--pure-white) 50%
  );

  box-shadow: 5px 10px 20px rgba(150, 150, 150);

  /* background-image: linear-gradient(
      to top left,
      transparent 50%,
      var(--linkedin-colour) 50%
    ),
    url("img/myoelectric_prosthetic_hand.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  */
}

.welcome__header {
  color: var(--pure-white);
  display: flex;
  align-items: center;
  padding-left: 3rem;
  font-size: 50px;
}

.welcome__paragraph {
  /* margin-top: 20%; */
  padding-top: 5%;
  padding-left: 3rem;
  padding-bottom: 50%;
  width: 50%;

  font-size: large;
  color: #ebeaff;
  grid-row: 2/3;
  align-content: center;
  overflow: hidden;
}

.welcome__image {
  width: 50%;
  position: absolute;
  bottom: 50px;
  right: 20px;
  border-radius: 20px;
  /* border: var(--pure-white); */
  box-shadow: 5px 10px 20px rgba(150, 150, 150);
  /* margin-right: 40px; */
}

#section--2 {
  background: linear-gradient(
    to bottom,
    var(--linkedin-colour) 30%,
    var(--pure-white) 70%
  );
  box-shadow: 5px 10px 20px rgba(150, 150, 150);
  margin: 10px;
}

.About__us--container {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.write-us--container {
  width: 50%;
}

/* .about_us-header {
  color: var(--linkedin-colour);
} */

.about__us-heading {
  text-align: center;

  padding-bottom: 200px;
}

.about__us-img {
  color: red;
}

footer {
  width: 100%;
  height: 50vh;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  background: rgb(240, 240, 240);
}

.footer__paragraph {
  text-align: center;
}

.icons__container {
  display: flex;
}
.icon {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin: 10px;
  background: #fff;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  font-family: sans-serif;
  overflow: hidden;
  box-shadow: 5px 10px 20px rgba(150, 150, 150, 0.3);
  transition: all 3s ease-out;
}

.socials_name {
  padding: 10px;
}
.icon:hover {
  width: 200px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
}

.icon:hover i {
  color: #fff;
}
/*Facebook */
.icon .fa-facebook {
  color: var(--facebook-color);
}

.fb:hover {
  background: var(--facebook-color);
}

/* Twitter */
.icon .fa-x-twitter {
  color: var(--X-twitter-color);
}

.x-twt:hover {
  background: var(--X-twitter-color);
}

/* Instagram */
.icon .fa-instagram {
  color: var(--instagram-colour);
}

.inst:hover {
  background: var(--instagram-colour);
}

/* linkedin*/
.icon .fa-linkedin-in {
  color: var(--linkedin-colour);
}

.lnk:hover {
  background: var(--linkedin-colour);
}

/* Youtube */
.icon .fa-youtube {
  color: var(--youtube-color);
}

.ytb:hover {
  background: var(--youtube-color);
}

/* Git hub */
.icon .fa-github {
  color: var(--github-color);
}

.git:hover {
  background: var(--github-color);
}
