* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --facebook-color: #1a6de8;
  --instagram-colour: #c13584;
  --linkedin-colour: #0077b5;
  --youtube-color: #ff0000;
  --pure-white: #fff;
  --brown-color: #f4a460;
  --border-shadow: rgba(150, 150, 150);
  --offwhite-background: #e0e0e0;
}

/* Navigation Bar */

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--pure-white);
  align-items: center;
  font-size: 1rem;
  font-family: "Roboto", serif;
  font-weight: 500;
  border-bottom: red 2px solid;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

li {
  margin: 1.5rem;
  text-decoration: none;
}

li .nav__item {
  text-decoration: none;
  color: var(--linkedin-colour);
}

.login__button {
  padding: 1rem;
  border-radius: 25px;
  color: var(--pure-white);
  background-color: var(--linkedin-colour);
  margin-right: 1rem;
  text-decoration: none;
}

.logo {
  max-height: 15rem;
  max-width: 15rem;
}

.menu__button {
  padding: 0.5rem;
  display: none;
}

.sidebar {
  height: 100vh;
  width: 80%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgb(240, 240, 240);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  width: 1rem;
}

.sidebar .login__button {
  margin: 1rem;
  max-width: 6rem;
  text-align: center;
}

.sidebar {
  display: none;
}

@media (max-width: 1000px) {
  .menu__button {
    display: inline-block;
    margin-right: 1rem;
  }
  ul {
    display: none;
  }

  .login__button {
    display: none;
  }
}

/* Home */
main {
  height: 100%;
  position: relative;
}

.home {
  height: calc(100vh - 4.9rem);
}

.home__wrapper {
  height: 100%;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* About */

.about {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.about__wrapper,
.services__wrapper,
.founder__wrapper,
.contact__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0.5rem;
}

.about .image__container {
  width: 100%;
  height: 50%;
}

.image__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Services */
.services {
  display: flex;
  justify-content: center;
  height: 105vh;
  background-color: purple;
}

.service__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.service__and__descripion--container {
  display: flex;
  height: 50%;
}

.services__wrapper.image__container {
  height: 40%;
}

.services__image {
  height: 100%;
}

/* Founder */

.founder {
  height: 100vh;
  background-color: red;
}

.founder__wrapper {
  display: flex;
  flex-direction: column;
}

.founder__header {
  text-align: center;
}

.founder__image__and__description--container {
  padding: 3rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.founder__btn {
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: var(--linkedin-colour);
  color: var(--pure-white);
}

/* Contact */
.contact_us {
  height: 100vh;
}

.contactInfo__and__form--container {
  display: flex;
  flex-direction: column;
}

.contact__header--container {
  margin: 1.5rem 0 0.5rem 0;
  text-align: center;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0.5rem 2rem;
}

.contact {
  width: 100%;
  display: flex;
  margin: 0.2rem 0;
}

.icon {
  display: flex;
  justify-content: center;
  width: 20%;
}

.fa-solid {
  font-size: 2rem;
  color: var(--facebook-color);
}
.form__container {
  margin: 0.2rem 0 0 0;
  background-color: var(--offwhite-background);
  padding: 1rem;
  border-radius: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  background-color: var(--pure-white);
  padding: 1rem;
  border-radius: 5px;
}

form label {
  margin: 0.5rem 0;
}
small {
  margin: 0.4rem 0;
  height: 0.2rem;
  display: none;
}

form input,
form textarea,
form button {
  padding: 0.5rem;
  border: none;
  border-bottom: var(--offwhite-background) solid 1px;
  outline: none;
  border-radius: 5px;
}

input:focus,
textarea:focus {
  border-bottom: 1px solid var(--youtube-color);
}

textarea::-webkit-scrollbar {
  width: 4px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--youtube-color);
}

form button {
  margin: 2rem 0 0.5rem 0;
  cursor: pointer;
  max-width: 200px;
  align-self: center;
  border-radius: 3px;
  background-color: var(--facebook-color);
  color: var(--pure-white);
}
