* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --facebook-color: #1a6de8;
  --X-twitter-color: #1b1c1e;
  --instagram-colour: #c13584;
  --linkedin-colour: #0077b5;
  --youtube-color: #ff0000;
  --github-color: #24292e;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.nav__links {
  display: flex;
  list-style: none;
}

.nav__link {
  margin: 10px;
  text-decoration: none;
}
.logo {
  width: 6rem;
}

footer {
  width: 100%;
  height: 50vh;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  background: rgb(240, 240, 240);
}

.footer__paragraph {
  text-align: center;
}

.icons__container {
  display: flex;
}
.icon {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin: 10px;
  background: #fff;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  font-family: sans-serif;
  overflow: hidden;
  box-shadow: 5px 10px 20px rgba(150, 150, 150, 0.3);
  transition: all 3s ease-out;
}

.socials_name {
  padding: 10px;
}
.icon:hover {
  width: 200px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
}

.icon:hover i {
  color: #fff;
}
/*Facebook */
.icon .fa-facebook {
  color: var(--facebook-color);
}

.fb:hover {
  background: var(--facebook-color);
}

/* Twitter */
.icon .fa-x-twitter {
  color: var(--X-twitter-color);
}

.x-twt:hover {
  background: var(--X-twitter-color);
}

/* Instagram */
.icon .fa-instagram {
  color: var(--instagram-colour);
}

.inst:hover {
  background: var(--instagram-colour);
}

/* linkedin*/
.icon .fa-linkedin-in {
  color: var(--linkedin-colour);
}

.lnk:hover {
  background: var(--linkedin-colour);
}

/* Youtube */
.icon .fa-youtube {
  color: var(--youtube-color);
}

.ytb:hover {
  background: var(--youtube-color);
}

/* Git hub */
.icon .fa-github {
  color: var(--github-color);
}

.git:hover {
  background: var(--github-color);
}

img {
  width: 100px;
}
