* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

:root {
  --facebook-color: #1a6de8;
  --instagram-colour: #c13584;
  --linkedin-colour: #0077b5;
  --youtube-color: #ff0000;
  --header-colour: rgb(104, 104, 104);
  --pure-white: #fff;
  --brown-color: #f4a460;
  --border-shadow: rgba(150, 150, 150);
  --offwhite-background: #e0e0e0;
}

/* Navigation Bar */

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--pure-white);
  align-items: center;
  font-size: 1rem;
  font-family: "Roboto", serif;
  font-weight: 500;
  /* border-bottom: red 2px solid; */
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

li {
  margin: 1.5rem;
  text-decoration: none;
}

li .nav__item {
  text-decoration: none;
  color: var(--linkedin-colour);
}

.login__button {
  padding: 1rem;
  border-radius: 25px;
  color: var(--pure-white);
  background-color: var(--linkedin-colour);
  margin-right: 1rem;
  text-decoration: none;
}

.logo {
  max-height: 15rem;
  max-width: 15rem;
}

.menu__button {
  padding: 0.5rem;
  display: none;
}

.sidebar {
  height: 100vh;
  width: 80%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgb(138, 135, 135);
  backdrop-filter: blur(10px);
  z-index: 999;
  display: flex;
  flex-direction: column;
}

.sidebar a {
  width: 100%;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 2rem;
}

.sidebar__login__button {
  margin-left: 1rem;

  width: 20%;
  text-align: center;

  padding: 1rem 2rem;
  border-radius: 25px;
  color: var(--pure-white);
  background-color: var(--linkedin-colour);

  text-decoration: none;
}

.sidebar__login__button button {
  margin: 1rem;
  width: 100%;
}

.sidebar {
  display: block;
}

/* .sidebar__active {
  display: block;
} */

@media (max-width: 1000px) {
  .menu__button {
    display: inline-block;
    margin-right: 1rem;
  }
  ul {
    display: none;
  }

  .login__button {
    display: none;
  }
}

/* Home */
main {
  height: 100%;
  /* position: relative; */
}

.home {
  height: calc(100vh - 4.9rem);
  background-image: url("img/Workshop-1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home__wrapper {
  background-color: rgba(55, 54, 54, 0.1);
  backdrop-filter: blur(20px);
  font-family: "Roboto", serif;
  color: var(--pure-white);
  height: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.home__wrapper p {
  margin: 0.5rem;
}

.home__wrapper p span {
  color: var(--instagram-colour);
}

.registeration__link {
  margin: 2rem 0;
  color: var(--pure-white);
  padding: 1rem;
  background-color: var(--linkedin-colour);
  border-radius: 15px;
  text-decoration: none;
}

/* About */

.about {
  display: flex;
  justify-content: center;
  height: auto;
}

.about__wrapper,
.services__wrapper,
.founder__wrapper,
.contact__wrapper,
.footer__wrapper,
.testimonial__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0.5rem;
}

.about .image__container {
  width: 100%;
  height: 50%;
}

.about__container h2 {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: var(--header-colour);
}

.about__container h3 {
  font-size: 1.3rem;
  margin: 0 0 0.5rem 0;
}

.about__container h3 span {
  color: var(--linkedin-colour);
}

.about__container p {
  font-size: 0.9rem;
  margin: 0 0 0.5rem 0;
}

.image__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Services */
.services {
  display: flex;
  justify-content: center;
  height: auto;
}

.service__container {
  display: flex;
  flex-direction: column;
  height: 60%;
}

.services__container h2 {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: var(--header-colour);
}

.services__container h3 {
  font-size: 1.3rem;
  margin: 0 0 0.5rem 0;
}

.services__container h3 span {
  color: var(--linkedin-colour);
}

.services__container p {
  font-size: 0.9rem;
  margin: 0 0 0.5rem 0;
}

.service__and__descripion--container {
  display: flex;
  height: 50%;
}

.services__wrapper .image__container {
  height: 20%;
}

.service__desciption h3,
.service__desciption p {
  margin: 0.3rem;
  padding: 0;
}

.services__image {
  object-fit: cover;
  height: 100%;
  /* display: none; */
}

/* Testimonials */
.testimonials {
  background-color: var(--offwhite-background);
  height: 100%;
}

.testimonial__header {
  text-align: center;
}

.testimonial__header h2 {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: var(--header-colour);
}

/* .testimonial__header h3 {
  font-size: 1.3rem;
  margin: 0 0 0.5rem 0;
} */

.testimonial__header h3 span {
  color: var(--linkedin-colour);
}

.testimonial__contents--container {
  display: flex;
  overflow: hidden;
}

.testimonial__content {
  min-width: 100%;
  margin: 0.5rem;
  /* display: flex; */
}

.testimonial__message__detail p {
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
}

.testimony__personal--info p {
  font-family: "Pacifico", serif;
  color: var(--header-colour);
  font-style: normal;
  font-size: 1rem;
}

.testimonial__image--container {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  justify-self: center;
  margin: 2rem 0;
  border: 0.4rem var(--pure-white) solid;
}

.testimonial__image--container img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
}

.switch_dots {
  display: flex;
  justify-content: center;
}

.switch_dot {
  margin: 0.5rem;
  width: 0.8rem;
  height: 0.8rem;
  border: 0.1px solid rgb(180, 177, 177);
  border-radius: 50%;
}
/* Founder */

.founder {
  height: auto;
  background-color: var(--offwhite-background);
}

.founder__wrapper {
  display: flex;
  flex-direction: column;
}

.founder__header {
  text-align: center;
}

.founder__header h2 {
  margin: 0rem 0;
  font-size: 1rem;
  color: var(--header-colour);
}

.founder__header h3 {
  font-size: 1.3rem;
  margin: 0 0 0.5rem 0;
}

.founder__header h3 span {
  color: var(--linkedin-colour);
}

.founder__description p {
  font-size: 0.9rem;
  margin: 0 0 0.5rem 0;
}

.founder__image--container {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  border: 0.4rem var(--pure-white) solid;
}

.founder__image {
  object-fit: cover;
  object-position: left 30%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.founder__image__and__description--container {
  /* padding: 3rem 0 0 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.founder__image__and__description--container h4 {
  font-family: "Pacifico", serif;
  color: rgb(77, 72, 72);
  font-style: normal;
  font-size: 1.2rem;
}

.founder__description {
  width: 100%;
}

.founder__btn {
  width: inherit;
  padding: 0.5rem;
  font-size: 1rem;
  margin: 1rem 0;
  background-color: var(--linkedin-colour);
  color: var(--pure-white);
  border: 0;
}

.hidden {
  display: none;
  width: 100%;
}

/* Contact */
.contact_us {
  height: auto;
  background-color: var(--offwhite-background);
}

.contactInfo__and__form--container {
  display: flex;
  flex-direction: column;
}

.contact__header--container {
  margin: 0.5rem 0 0.5rem 0;
  text-align: center;
}

.contact__header--container h2 {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: var(--header-colour);
}

.contact__header--container h3 {
  font-size: 1.3rem;
  margin: 0 0 0.1rem 0;
}

.contact__header--container h3 span {
  color: var(--linkedin-colour);
}

.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0rem 2rem;
}
.contactInfo p {
  font-size: 0.9rem;
  margin: 0 0 0.5rem 0;
}

.contact {
  width: 100%;
  display: flex;
  margin: 0.2rem 0;
}

.icon {
  display: flex;
  justify-content: center;
  width: 20%;
}

.fa-solid {
  font-size: 2rem;
  color: var(--linkedin-colour);
}
.form__container {
  margin: 0.2rem 0 0 0;
  background-color: var(--pure-white);
  padding: 1rem;
  border-radius: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  background-color: var(--pure-white);
  padding: 1rem;
  border-radius: 5px;
}

form label {
  margin: 0.5rem 0;
}
small {
  margin: 0.4rem 0;
  height: 0.2rem;
  display: none;
}

form input,
form textarea,
form button {
  padding: 0.5rem;
  border: none;
  border-bottom: var(--offwhite-background) solid 1px;
  outline: none;
  border-radius: 5px;
}

input:focus,
textarea:focus {
  border-bottom: 1px solid var(--youtube-color);
}

textarea::-webkit-scrollbar {
  width: 4px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--youtube-color);
}

form button {
  margin: 2rem 0 0.5rem 0;
  cursor: pointer;
  max-width: 200px;
  align-self: center;
  border-radius: 3px;
  background-color: var(--facebook-color);
  color: var(--pure-white);
}

/* footer */
footer {
  height: auto;
  background-color: rgb(68, 65, 65);
  color: var(--pure-white);
}

.footer__wrapper h2 {
  font-size: 1rem;
  color: var(--pure-white);
}

.footer__wrapper p {
  color: rgb(191, 184, 184);
  font-size: 0.9rem;
  margin: 0 0 0.5rem 0;
}

.quick__links--container {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

.quick__link a {
  text-decoration: none;
  color: rgb(191, 184, 184);
  margin: 1rem 0 0 0;
  padding: 0;
}

.quick__link {
  margin: 0rem;
  padding: 0rem;
}

.newsletter__container {
  display: flex;
  flex-direction: column;
}

.newsletter {
  background-color: inherit;
  padding: 0;
}

.newsletter__input {
  border: var(--offwhite-background) 1px solid;
  border-radius: 1.5rem;
  max-width: 20rem;
  padding: 1rem;
  margin: 0.5rem 0 0 0;
}

.newsletter__btn {
  margin: 1rem 0;
  width: 8rem;
  padding: 1rem;
  border-radius: 1.5rem;
  align-self: flex-start;
  border: 0;
}

.fa-brands {
  color: rgb(209, 207, 207);
}
