* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pacifico", serif;
  font-family: "Roboto", serif;
}

:root {
  --facebook-color: #1a6de8;
  --instagram-colour: #c13584;
  --linkedin-colour: #0077b5;
  --youtube-color: #ff0000;
  --header-colour: rgb(104, 104, 104);
  --pure-white: #fff;
  --brown-color: #f4a460;
  --border-shadow: rgba(150, 150, 150);
  --offwhite-background: #e0e0e0;
}

body {
  height: 100vh;
}

nav {
  max-height: 10%;
  /* background-color: red; */
}
.logo-container {
  max-height: 16rem;
  max-width: 16rem;
  /* display: flex;
  align-content: center; */
}

.logo-container img {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
  height: calc(100vh - 10%);
  background-color: var(--offwhite-background);
  display: flex;

  justify-content: center;
  align-items: center;
}

.container {
  max-width: 700px;
  width: 100%;
  background-color: var(--pure-white);
  padding: 2rem;
  border-radius: 5px;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  padding-bottom: 0.5rem;
}

.title::before {
  content: "";
  background: linear-gradient(
    to left,
    var(--linkedin-colour),
    var(--offwhite-background)
  );
  position: absolute;
  height: 0.3rem;
  width: 100%;
  bottom: 0;
  left: 0;
}

form .user-details {
  display: flex;
  flex-wrap: wrap; /* flex wrap is used to wrap the content of a container in cases when the screen size increases */
  justify-content: space-between;
}

form .user-details .input-box {
  margin: 1.3rem 0 0.9rem 0;
  width: calc(100% / 2 - 20px);
}

.detail {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

form .user-details .input-box input {
  height: 2rem;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 1rem;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

form .user-details .input-box input:focus {
  border-color: var(--instagram-colour);
}

form .gender-details .gender-title {
  font-size: 1.3rem;
  font-weight: 500;
}

form .gender-details .category {
  display: flex;
  width: 80%;
  /* background-color: red; */
  margin: 1rem;
  justify-content: space-between;
}

form button {
  height: 45px;
  margin: 1.5rem 0;
  outline: none;
  width: 100%;
  color: var(--pure-white);
  background-color: var(--linkedin-colour);
  border: 0;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
}

@media (max-width: 584px) {
  body {
    height: auto;
  }
  .container {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .gender-details .category {
    width: 100%;
  }
  form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
}

@media only screen and (width: 1024px) and (max-height: 600px) {
  main {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
  }

  .container {
    height: 90%;
  }

  form {
    height: 80%;
  }

  /* form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  } */

  form .user-details .input-box {
    margin: 0.5rem 0 0.5rem 0;
  }

  form button {
    height: 45px;
    margin: 0.5rem 0;
  }
}

/* .container {
  width: 95%;
  height: 90%;
  display: flex;
  background-color: var(--pure-white);
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 1.5rem;
} */

/* .input-box {
  display: flex;
  flex-direction: column;
} */

/* .title-container {
  height: 7%;
  width: 100%;
  color: var(--header-colour);
  margin: 0 0 0.5rem 0;
  font-weight: 500;
  display: flex;
}

.title {
  font-size: 1rem;
  justify-content: flex-start;
  align-self: center;
  padding: 0 0 0.5rem 0;
  position: relative;
}

.title::after {
  content: "";
  background: linear-gradient(
    to left,
    var(--linkedin-colour),
    var(--offwhite-background)
  );
  position: absolute;
  height: 0.3rem;
  width: 100%;
  bottom: 0;
  left: 0;
}
form {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  height: 75%;
  width: 100%;
}

form input {
  padding: 0.3rem;
  margin-bottom: 0.5rem;
}

.input-box {
  display: flex;
  justify-content: space-between;
}

.category {
  margin: 0 0 0.5rem 0;
}

button {
  align-self: center;
  padding: 0.7rem;
  border: 0;
  border-radius: 25px;
  width: 8rem;
  color: var(--pure-white);
  background-color: var(--linkedin-colour);
} */
