* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

:root {
  --facebook-color: #1a6de8;
  --instagram-colour: #c13584;
  --linkedin-colour: #0077b5;
  --youtube-color: #ff0000;
  --header-colour: rgb(104, 104, 104);
  --pure-white: #fff;
  --brown-color: #f4a460;
  --border-shadow: rgba(150, 150, 150);
  --offwhite-background: #e0e0e0;
}

body {
  height: 100vh;
  /* background-color: var(--linkedin-colour); */
}

nav {
  max-height: 10%;

  border-bottom: rgb(205, 201, 201) solid 0.1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.logo-container {
  max-height: 16rem;
  max-width: 16rem;
}

.logo-container img {
  height: 100%;
  width: 100%;
}

/* Login Page */

.login-section {
  height: calc(100vh - 10%);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--offwhite-background);
  position: relative; /* Positioning context for z-index */
  z-index: 2; /* Higher z-index to stay above main section */
  transition: opacity 0.5s ease; /* Smooth fade-out */
}

.login-wrapper {
  max-width: 600px;
  background: var(--pure-white);

  border-radius: 12px;
  padding: 1.5rem 2rem;
}

.login-wrapper h1 {
  font-size: 2.1rem;
  text-align: center;
}

/* form {
  display: flex;
  flex-direction: column;
} */

.login-wrapper .input-box {
  position: relative;
  width: 100%;
  height: 3rem;
  /* background: yellow; */
  margin: 1.2rem 0;
}

.login-wrapper .input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  color: black;
  font-size: 1rem;
  padding: 0.1rem 0.5rem;
}

.login-wrapper .input-box input::placeholder {
  color: hsla(0, 6%, 20%, 0.661);
}

.input-box i {
  position: absolute;
  right: 5px;
  top: 30%;
  transform: translate(-50%);
  font-size: 1.2rem;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 5px;
}

.remember-forgot a {
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.login-button {
  width: 100%;
  height: 2rem;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0 0, 0.1);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem 0 0 0;
  color: var(--pure-white);
  background: var(--linkedin-colour);
}

.register-link {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 20px;
}

.register-link p a {
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

/* HIDDING INTERFACE */

/* .hidden {
  opacity: 0;
  display: none;
} */

/* Main App layout */

main {
  display: none;
  background-color: #f5f5f5;
  height: auto;
  padding: 0.5rem 0.5rem;
  opacity: 0; /* Initially hidden */
  z-index: 1; /* Lower z-index than login section */
  position: absolute; /* Allows layering */
  width: 100%; /* Full width */
  transition: opacity 0.5s ease; /* Smooth fade-in */
}

/* Welcome Section */
.welcome-section {
  width: inherit;
}

.welcome-section-wrapper {
  width: inherit;
  height: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(to right, #4a90e2, #357abd);
  padding: 0.5rem;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.welcome-section-wrapper h1 {
  height: 70%;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.welcome-section-wrapper p {
  font-size: 0.8rem;
}

.Appointment-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 1rem;
}

.location-img-container p {
  margin-top: 0.5rem;
}

/* KPI section */
.kpi-section {
  width: 100%;
  background-color: inherit;
}

.kpi-section-wrapper {
  display: flex;
  flex-direction: column;
}

.kpi-container {
  height: 7rem;
  background-color: white;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.kpi-container h3 {
  font-size: 0.9rem;
  margin: 0.5rem 0;
  color: hsla(0, 2%, 24%, 0.804);
}

.kpi-container p {
  font-size: 2.5rem;
  font-weight: 600;
}

.honoured-appointments p {
  color: rgb(58, 140, 58);
}

.cancellled-appointments p {
  color: grey;
}

.pending-appointments p {
  color: var(--brown-color);
}

.missed-appointments p {
  color: red;
}

/* Rendering Section */

.appointments-section {
  width: 100%;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
}

.appointments-section h3 {
  margin: 0.5rem 0;
}

.appointment-container {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  background-color: hsla(120, 96%, 81%, 0.927);
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cancel-btn {
  padding: 0.3rem;
  background-color: red;
  color: var(--pure-white);
  border: none;
  width: 4rem;
  border-radius: 15px;
  cursor: pointer;
}

.cancel-btn:hover {
  background-color: hsl(0, 57%, 41%);
}

.pagination-container {
  display: flex;
  justify-content: center;
}

.pagination-container p,
.pagination-container button {
  margin: 0 0.5rem;
}

.pagination-container button {
  width: 5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.pagination-container p {
  align-self: center;
}

.pagination-container button:hover {
  background-color: rgb(119, 115, 115);
  color: white;
}

.pagination-container button:active {
  background-color: var(--linkedin-colour);
}

.datepicker-section {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.date-input,
.service-input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #eee;
  margin: 0.5rem 0;
}

/* Working on another date picker */
input[type="date"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  border-radius: 5px; /* Rounded corners */
}

input[type="date"]:focus {
  outline: none;
}

/*Error Message*/
.dateErrMsg {
  margin: 10px 0;
  color: hsla(0, 100%, 65%, 0.749);
}

/* Times Container and display */
.times-container {
  margin: 10px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  place-items: center;
}

.time-button {
  width: 4rem;
  padding: 0.3rem;
  cursor: pointer;
  /* margin: 5px; */
  border-radius: 15px;
  border: none;
  background: var(--pure-white);
  transition: all 0.2s ease;
}
/* DatePicker styles */

.time-button:hover {
  background-color: var(--offwhite-background);
  color: black;
}

.time-button:active {
  transform: scale(0.9);
}

.chosen {
  background: hsla(0, 100%, 65%, 0.749);
  color: var(--pure-white);
  pointer-events: none;
  cursor: not-allowed;
}

.selected-time {
  background: hsl(197, 94%, 34%);
  color: var(--pure-white);
}

.appointment-booking-form {
  position: relative;
  display: flex;
  width: 80%;
  align-content: center;
  flex-direction: column;
}

.appointment-booking-section {
  display: flex;
  justify-content: center;
}

.appointment-booking-form h3 {
  margin: 1rem 0;
}

.appointment-booking-button {
  margin: 15px 0;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: var(--linkedin-colour);
  color: var(--pure-white);
  cursor: pointer;
}

.appointment-booking-button:active {
  transform: scale(0.95);
}

@media (max-width: 430px) {
  .login-box {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .input-box {
    width: 290px;
  }
}
