* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

:root {
  --facebook-color: #1a6de8;
  --instagram-colour: #c13584;
  --linkedin-colour: #0077b5;
  --youtube-color: #ff0000;
  --header-colour: rgb(104, 104, 104);
  --pure-white: #fff;
  --brown-color: #f4a460;
  --border-shadow: rgba(150, 150, 150);
  --offwhite-background: #e0e0e0;
}

body {
  height: 100vh;
  /* background-color: var(--linkedin-colour); */
}

nav {
  max-height: 10%;

  border-bottom: rgb(205, 201, 201) solid 0.1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.logo-container {
  max-height: 16rem;
  max-width: 16rem;
}

.logo-container img {
  height: 100%;
  width: 100%;
}

.login-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 10%);
  background-color: var(--offwhite-background);
  display: none;
}

.login-box {
  position: relative;
  width: 400px;
  height: 450px;
  background-color: var(--pure-white);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form h2 {
  font-size: 2em;
  color: black;
  text-align: center;
}

.login-form .input-box {
  position: relative;
  width: 310px;
  margin: 30px 0;
  border-bottom: 2px solid var(--pure-white);
}

.login-form .input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: black;
  pointer-events: none;
}

.login-form .input-box input:focus ~ label {
  top: -3px;
}

.login-form .input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font: 1em;
  color: black;
  padding: 0 35px 0 5px;
}

.login-form .input-box .icon {
  position: absolute;
  right: 8px;
  color: black;
  font-size: 1em;
  line-height: 57px;
}

.remember-forgot {
  margin: -15px 0 15px;
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  margin-right: 3px;
}

.remember-forgot a {
  color: var(--linkedin-colour);
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.login-button {
  width: 100%;
  height: 40px;
  background-color: var(--linkedin-colour);
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  color: var(--pure-white);
  font-weight: 500;
}

.register-link {
  font-size: 0.9em;
  color: black;
  text-align: center;
  margin: 25px 0 10px;
}

.register-link p a {
  color: var(--linkedin-colour);
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Main App layout */

main {
  /* display: none; */
  background-color: #f5f5f5;
  height: auto;
  padding: 0.5rem;
}

/* Welcome Section */
.welcome-section {
  width: inherit;
}

.welcome-section-wrapper {
  width: inherit;
  height: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(to right, #4a90e2, #357abd);
  padding: 0.5rem;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.welcome-section-wrapper h1 {
  height: 70%;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.welcome-section-wrapper p {
  font-size: 0.8rem;
}

.location-img-container {
  margin-bottom: 1rem;
}

/* KPI section */
.kpi-section {
  width: 100%;
  background-color: inherit;
}

.kpi-section-wrapper {
  display: flex;
  flex-direction: column;
}

.kpi-container {
  height: 7rem;
  background-color: white;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.kpi-container h3 {
  font-size: 0.9rem;
  margin: 0.5rem 0;
  color: hsla(0, 2%, 24%, 0.804);
}

.kpi-container p {
  font-size: 2.5rem;
  font-weight: 600;
}

.honoured-appointments p {
  color: rgb(58, 140, 58);
}

.cancellled-appointments p {
  color: grey;
}

.pending-appointments p {
  color: var(--brown-color);
}

.missed-appointments p {
  color: red;
}

/* Rendering Section */

.appointments-section {
  width: 100%;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
}

.appointments-section h3 {
  margin: 0.5rem 0;
}

.appointment-container {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  background-color: hsla(120, 96%, 81%, 0.927);
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cancel-btn {
  padding: 0.3rem;
  background-color: red;
  color: var(--pure-white);
  border: none;
  width: 4rem;
  border-radius: 15px;
  cursor: pointer;
}

.cancel-btn:hover {
  background-color: hsl(0, 57%, 41%);
}

.pagination-container {
  display: flex;
  justify-content: center;
}

.pagination-container p,
.pagination-container button {
  margin: 0 0.5rem;
}

.pagination-container button {
  width: 5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.pagination-container p {
  align-self: center;
}

.pagination-container button:hover {
  background-color: rgb(119, 115, 115);
  color: white;
}

.pagination-container button:active {
  background-color: var(--linkedin-colour);
}

.datepicker-section {
  display: flex;
  justify-content: center;
}

.date-input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #eee;
}

/* DatePicker styles */

.datepicker-container {
  position: relative;
}

.datepicker {
  display: absolute;
  top: 100%;
  z-index: 4;
  margin: 2px;
  background-color: var(--pure-white);
  padding: 10px;
  border-radius: 5px;
}

.datepicker button {
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s;
}

.days,
.dates {
  display: grid;
  grid-template-columns: repeat(7, 32px);
  gap: 10px;
  margin: 10px 0;
}

.days span {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.dates button {
  color: slategray;
  aspect-ratio: 1;
}

.dates button:hover {
  background-color: rgba(119, 136, 153, 0.1);
}

.dates button.today {
  background-color: rgb(71, 192, 71);
  color: white;
}

.dates button.selected {
  background-color: var(--linkedin-colour);
  color: var(--pure-white);
}

.datepicker-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.datepicker-header input {
  max-width: 64px;
}

.datepicker-header button {
  color: slategray;
}

.datepicker-header button:hover {
  background-color: rgba(119, 136, 153, 0.1);
}

.datepicker-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}

.datepicker-footer button {
  background-color: rgba(119, 136, 153, 0.1);
  padding: 3px 10px;
}

.datepicker-footer button.apply {
  background-color: var(--linkedin-colour);
  color: var(--pure-white);
}

@media (max-width: 430px) {
  .login-box {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .input-box {
    width: 290px;
  }
}
